services:
  tf2-quickserver:
    build:
      dockerfile: Dockerfile
      context: .
    container_name: tf2-quickserver
    env_file:
      - .env
    volumes:
      - ./db:/app/db
      - ./config:/app/config:ro
      - ./keys:/app/keys:ro
    profiles:
      - bot
  tf2-pickup-server:
    build:
      context: ./
      dockerfile: ./variants/fat-tf2pickup/Dockerfile
    container_name: tf2-pickup-server
    env_file:
      - .env
    command:
      - "-enablefakeip"
      - "+sv_pure"
      - "2"
      - "+maxplayers"
      - "24"
      - "+map"
      - "cp_badlands"
    profiles:
      - server
  fat-server-amd64:
    build:
      context: ./
      dockerfile: ./variants/fat-standard-competitive-amd64/Dockerfile
    container_name: tf2-fat-server-amd64
    ports:
      - 27015:27015
      - 27015:27015/udp
      - 27020:27020
      - 27020:27020/udp
    env_file:
      - .env
    command:
      - "-enablefakeip"
      - "+sv_pure"
      - "2"
      - "+maxplayers"
      - "24"
      - "+map"
      - "cp_badlands"
      - +log
      - on
      - +logaddress_add
      - "host.docker.internal:27101"
    profiles:
      - server
  fat-server-i386:
    build:
      context: ./
      dockerfile: ./variants/fat-standard-competitive-i386/Dockerfile
    container_name: tf2-fat-server-i386
    ports:
      - 27015:27015
      - 27015:27015/udp
      - 27020:27020
      - 27020:27020/udp
    env_file:
      - .env
    command:
      - "-enablefakeip"
      - "+sv_pure"
      - "2"
      - "+maxplayers"
      - "24"
      - "+map"
      - "cp_badlands"
      - +log
      - on
      - +logaddress_add
      - "host.docker.internal:27101"
    profiles:
      - server
  fat-mge-tf:
    build:
      context: ./
      dockerfile: ./variants/fat-mge-tf/Dockerfile
    container_name: tf2-fat-mge-tf
    ports:
      - 27015:27015
      - 27015:27015/udp
      - 27020:27020
      - 27020:27020/udp
    env_file:
      - .env
    command:
      - "-enablefakeip"
      - "+sv_pure"
      - "2"
      - "+maxplayers"
      - "24"
      - "+map"
      - "mge_training_v8_beta4b"
      - +log
      - on
      - +logaddress_add
      - "host.docker.internal:27101"
    profiles:
      - server